.container {
  padding: 3px 0 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
.container:hover {
  padding: 0 0 3px;
}
.btn_outlined {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  padding: 5px 5px;
  border-radius: 8px;
  gap: 5px;
  width: fit-content;
}
.btn_solid {
  display: flex;
  align-items: center;
  color: var(--primary);
  background-color: var(--bg-2);
  box-shadow: var(--shadow-main);
  padding: 5px 5px;
  border-radius: 8px;
  gap: 5px;
  width: fit-content;
  transition: box-shadow 0.2s ease;
}
.container:hover .btn_solid {
  box-shadow: var(--shadow-tall);
}
.btn_solid * {
  color: var(--primary);
}
.btn_outlined img {
  opacity: 0.8;
}
img {
  width: 15px;
  height: 15px;
}
.btn_outlined *,
.btn_solid * {
  text-wrap: nowrap;
}
