@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 70px 0 15px;
}
:root {
  font-family: "Inter", system-ui, Segoe UI, Roboto, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;

  /* Tema claro (por defecto) */
  --bg: #f1f1f1e6;
  --bg-1: #f1f1f1;
  --bg-2: #ffffff;
  --bg-less: #d4d4d4;

  --text-primary: #1c1e21;
  --text-secondary: #3a3c40;
  --text-tertiary: #7c8085;
  --text-error: #dc3545;

  --alert-error: #d74141;
  --alert-error-bg: #fdeded;
  --alert-success: #28a745;
  --alert-success-bg: #edf7ed;

  --primary: #008156;
  --primary-bg: #d2ebe2;
  --secondary-bg: #d8f6ea;

  --shadow-main: 0px 2px 2px 0px hsla(0, 0%, 0%, 0.25);
  --shadow-tall: 0px 5px 4px 0px hsla(0, 0%, 0%, 0.2);

  --scrollbar-thumb: #848484;
  --scrollbar-thumb-hover: #6c6c6c;
  --scrollbar-track: #f1f1f1e6;
}

/* Tema oscuro */
[data-theme="dark"] {
  --bg: #2c2c2c;
  --bg-1: #383838;
  --bg-2: #505050;
  --bg-less: #292929;

  --text-primary: #ececec;
  --text-secondary: #dadada;
  --text-tertiary: #7c8085;
  --text-error: #dc3545;

  --alert-error: #fdeded;
  --alert-error-bg: #d74141;
  --alert-success: #edf7ed;
  --alert-success-bg: #28a745;

  --primary: #00ffa6;
  --primary-bg: #274138;
  --secondary-bg: rgb(46, 86, 72);

  --scrollbar-thumb: #6c6c6c;
  --scrollbar-thumb-hover: #7c7c7c;
  --scrollbar-track: #383838;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: var(--bg-less);
}

.inline {
  display: flex;
  gap: 10px;
}

h1 {
  color: var(--text-primary);
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}
h2 {
  color: var(--text-primary);
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
h2::after {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: var(--primary);
  border-radius: 50px;
  margin-top: 5px;
}
h3 {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.p-big {
  color: var(--text-secondary);
  font-size: 22px;
  font-weight: 300;
  margin: 0;
}
p {
  color: var(--text-secondary);
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
}
.p-small {
  color: var(--text-secondary);
  font-size: 10px;
  font-weight: 300;
  margin: 0;
}

.tag {
  background-color: var(--primary-bg);
  padding: 5px 10px;
  border-radius: 50px;
  width: fit-content;
}
.tag * {
  color: var(--primary);
}

.alert-error {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--alert-error-bg);
  color: var(--alert-error);
  padding: 15px;
  gap: 15px;
  border-radius: 8px;
  width: fit-content;
  box-shadow: var(--shadow-main);
  animation: alertOut 0.3s ease 3s forwards;
  transition: all 0.3s ease-in-out;
}
.alert-ok {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--alert-success-bg);
  color: var(--alert-success);
  padding: 15px;
  gap: 15px;
  border-radius: 8px;
  width: fit-content;
  box-shadow: var(--shadow-main);
  animation: alertOut 0.3s ease 3s forwards;
  transition: all 0.3s ease-in-out;
}
@keyframes alertOut {
  from {
    display: flex;
  }
  to {
    display: none;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 13px;
  }
  .p-big {
    font-size: 19px;
  }
  p {
    font-size: 11px;
  }
  .p-small {
    font-size: 10px;
  }
}
